@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --bg-color: #f6f8fa;
    --text-color: #1d1f27;
    --main-color: #3a3dbe;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

h2 {
    text-align: center;
    font-size: 1.5rem;
}

form {
    max-width: 300px; 
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
}

input[type="email"],
input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 42px;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

button[type="submit"] {
    width: 100%;
    background-color: var(--main-color);
    color: #fff;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
